---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import ProductsResume from '../components/ProductsResume.astro';
import SectionContent from '../components/SectionContent.astro';
import MalenkyBlogResume from '../sections/MalenkyBlogResume.astro';
import Contact from '../sections/Contact.astro';
---

<Layout title="Bienvenido a Malenky" desc="Somos un negocio artesanal pensado en crear productos hechos con todo el amor del mundo.">
	<HeroSection preTitle="Productos hecho con amor" Title="Creando amigos para toda la vida" imgHeader="crochet.png" city="Monterrey, N.L." />
	<ProductsResume
		products_resume={[
			["/assets/images/productos/amigurumis/amigus.webp", "Amiguitos Divertidos", "Personajes en crochet para que se conviertan en los amigos de tus peques.", "#", "Ir a categoría"],
			["/assets/images/productos/temporada/temporada.webp", "Productos de temporada y especiales", "Creados para las diferentes temporadas del año como la navideña con nacimientos completos hechos en crochet.", "#", "Ir a categoría"],
			["/assets/images/productos/boxes/boxes.webp", "Gift Boxes y kits", "Conoce nuestra variedad en nuestro catálogo de “craft boxes”, sabemos que te encantara la variedad de artículos que tenemos para ti, tu familia y amigos.", "#", "Ir al sitio"]
		]}
	>
		<Fragment slot="TextHTML">
			<div class="pre-title">Da un vistazo a<br />nuestras categorías</div>
			<hr />
			<h2>Nuestro Productos</h2>
			<p>Gracias por interesarte en nuestros productos, hemos creado categorías para que te sea más sencillo el que conozcas todas las experiencias que hacemos con amor para los peques del hogar y para ti.</p>
		</Fragment>
	</ProductsResume>

	<SectionContent preTitle="Tenemos promociones permanentes" Title="La Promoción del Mes" sideImage="/assets/images/promo.webp">
		<Fragment slot="SectionHTML">
			<p>Te recomendamos estar al pendiente de nuestras promociones que hacemos cada mes y puedas aprovechar ofertas, obsequios y muchas cosas más.</p>
			<div class="button-container">
				<a href="#" class="btn">Ver Promoción</a>
			</div>
		</Fragment>
	</SectionContent>

	<MalenkyBlogResume />
	<Contact />
</Layout>
