---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import ProductsResume from '../components/ProductsResume.astro';
import SectionContent from '../components/SectionContent.astro';
---

<Layout title="Bienvenido a Malenky" desc="Somos un negocio artesanal pensado en crear productos hechos con todo el amor del mundo.">
	<HeroSection preTitle="Productos hecho con amor" Title="Creando amigos para toda la vida" imgHeader="crochet.png" city="Monterrey, N.L." />
	<ProductsResume
		products_resume={[
			["/assets/images/productos/amigurumis/amigus.webp", "Amiguitos Divertidos", "Personajes en crochet para que se conviertan en los amigos de tus peques.", "#", "Ir a categoría"],
			["/assets/images/productos/temporada/temporada.webp", "Temporales", "Creados para las diferentes temporadas del año como la navideña con nacimientos completos hechos en crochet.", "#", "Ir a categoría"],
			["/assets/images/productos/boxes/boxes.webp", "Gift Boxes y kits", "Conoce nuestra variedad en nuestro catálogo de “craft boxes”, sabemos que te encantara la variedad de artículos que tenemos para ti, tu familia y amigos.", "#", "Ir al sitio"]
		]}
	>
		<Fragment slot="TextHTML">
			<div class="pre-title">Da un vistazo a<br />nuestras categorías</div>
			<hr />
			<h2>Nuestro Productos</h2>
			<p>Gracias por interesarte en nuestros productos, hemos creado categorías para que te sea más sencillo el que conozcas todas las experiencias que hacemos con amor para los peques del hogar y para ti.</p>
		</Fragment>
	</ProductsResume>

	<SectionContent preTitle="Tenemos promociones permanentes" Title="La Promoción del Mes" sideImage="promo.webp">
		<Fragment slot="SectionHTML">
			<p>Te recomendamos estar al pendiente de nuestras promociones que hacemos cada mes y puedas aprovechar ofertas, obsequios y muchas cosas más.</p>
			<div class="button-container">
				<a href="#" class="btn">Ver Promoción</a>
			</div>
		</Fragment>
	</SectionContent>

	<ProductsResume
		products_resume={[
			["/assets/images/temporal.jpg", "Las experiencias para un peque", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel hendrerit velit. Morbi augue nisi, eleifend volutpat pharetra et, mattis id lorem. Sed vehicula euismod metus, eget eleifend odio tincidunt.", "#"],
			["/assets/images/temporal.jpg", "No todo son juegos y juguetes", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel hendrerit velit. Morbi augue nisi, eleifend volutpat pharetra et, mattis id lorem. Sed vehicula euismod metus, eget eleifend odio tincidunt.", "#"],
			["/assets/images/temporal.jpg", "Apoyo infantil", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel hendrerit velit. Morbi augue nisi, eleifend volutpat pharetra et, mattis id lorem. Sed vehicula euismod metus, eget eleifend odio tincidunt.", "#"]
		]}
	>
		<Fragment slot="TextHTML">
			<div class="pre-title">Conoce lo que pensamos</div>
			<hr />
			<h2>Malenky Blog</h2>
			<p>Además de hacer cositas con amor, también somos pedagogas de profesión y tratamos de dar cariño con conocimiento. Esto da mucho más confianza a nuestros clientes desde hace algún tiempo.</p>
			<div class="button-container">
				<a href="#" class="btn">Ir al Blog</a>
			</div>
		</Fragment>
	</ProductsResume>

	<SectionContent preTitle="Queremos conocerte" Title="Contáctanos" sideImage="contact.webp" Reverse=true>
		<Fragment slot="SectionHTML">
			<p>Nos encanta tener clientes, pero amamos mucho más tener amigos. No dudes en contactarnos, nos encantará saber de ti.</p>
			<ul class="contact-items">
				<li><a href="https://wa.link/4x21qz">Por WhatsApp</a></li>
				<li><a href="mailto:vicky@malenky.com.mx">Por correo electrónico</a></li>
			</ul>
		</Fragment>
	</SectionContent>
</Layout>
