---
import SectionContent from "../components/SectionContent.astro"
---
<SectionContent preTitle="Queremos conocerte" Title="Contáctanos" sideImage="/assets/images/conejo-al-telefono.webp" Reverse=true>
    <Fragment slot="SectionHTML">
        <p>Nos encanta tener clientes, pero amamos mucho más tener amigos. No dudes en contactarnos, nos encantará saber de ti.</p>
        <ul class="contact-items">
            <li>Por <a href="https://wa.link/4x21qz">WhatsApp</a></li>
            <li>Forma de <a href="mailto:vicky@malenky.com.mx">contacto</a>.</li>
        </ul>
    </Fragment>
</SectionContent>
