---
import BottomLogoBoxes from "../components/logos/BottomLogoBoxes.astro";
---
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-xl-2 text-center">
                <div class="bottom-logo">
                    <BottomLogoBoxes />
                </div>
                <p>&copy;2024 Malenky Craft Boxes,<br />Todos los derechos Reservados<a href="/gracias/">.</a></p>
            </div>
            <div class="d-none d-xl-block col-xl-1">&nbsp</div>
            <div class="col-12 col-xl-3">
                <p>Productos</p>
                <ul>
                    <li><a href="/productos/amigurumis/">Amiguitos divertidos</a></li>
                    <li><a href="/productos/productos-de-temporada/">Productos de temporada</a></li>
                    <li><a href="/productos/craftboxes/">Gift Boxes y kits infantiles</a></li>
                </ul>

                <p><a href="/malenky/">&iquest;Quienes Somos?</a></p>
                <p><a href="#">Blog</a></p>
            </div>
            <div class="col-12 col-xl-3">
                <p><a href="#">Proceso creativo</a></p>
                <p><a href="#">Proceso de envíos</a></p>
                <p><a href="#">Aviso de Privacidad</a></p>
            </div>
            <div class="col-12 col-xl-3">
                <p>Síguenos en nuestras redes sociales:</p>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">TikTok</a></li>
                    <li><a href="#">YouTube</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="signature">
        <a href="https://www.bicho.tech/" target="_blank">Powered by BichoTech</a>
    </div>
</footer>

<style lang="scss">
    footer {
        position: relative;
        padding: 40px 86px;
        
        @media screen and (width <= 1200px){
            padding: 40px 20px;
        }

        .bottom-logo {
            width: 200px;
            margin: 0 auto;
        }

        p {
            font-weight: 600;
            font-size: 10px;
            margin-top: 10px;
            text-transform: uppercase;

            a {
                font-weight: 600;
                font-size: 10px;
                text-transform: uppercase;
            }
        }

        ul {
            list-style: none;
            padding-left: 20px;
            margin-bottom: 30px;

            li {
                a {
                    font-weight: 400;
                    font-size: 11px;
                    text-transform: uppercase;
                }
            }
        }

        .signature {
            position: absolute;
            bottom: 30px;
            right: 40px;

            & > a {
                font-weight: 400;
                font-size: 11px;
                text-transform: uppercase;
                color: #FFB783;

                &:hover {
                    color: var(--bt-gray);
                }
            }
        }
    }
</style>