---
import TopLogo from '../components/logos/TopLogoBoxes.astro';
---
<nav class="d-none d-xl-block">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/malenky/">Malenky</a></li>
        <!-- <li><a href="">Blog</a></li> -->
        <li><a href="/">
            <div class="top-logo">
                <TopLogo />
            </div>  
        </a></li>
        <!-- <li><a href="">Craftboxes</a></li> -->
        <li><a href="/productos/">Productos</a></li>
        <li><a href="/contacto/">Contacto</a></li>
    </ul>
</nav>

<nav class="d-xl-none d-flex mobile-nav">
    <div class="top-logo-mobile">
        <a href="/">
            <div class="top-logo">
                <TopLogo />
            </div>  
        </a>
    </div>
    <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</nav>

<div class="show-menu d-xl-none d-none">
    <ul>
        <li>
            <div class="top-logo-mobile">
                <TopLogo />
            </div>  
        </li>
        <li><a href="/">Inicio</a></li>
        <li><a href="/malenky/">Malenky</a></li>
        <!-- <li><a href="">Blog</a></li>
        <li><a href="">Craftboxes</a></li> -->
        <li><a href="/productos/">Productos</a></li>
        <li><a href="/contacto/">Contacto</a></li>
    </ul>
</div>

<style lang="scss">
    nav {

        ul {
            display: flex;
            list-style: none;
            gap: 80px;
            align-items: center;
            justify-content: center;
            padding: 12px 0;
            margin: 0;

            li {
                a {
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 600;

                    .top-logo {
                        width: 40px;

                        svg {
                            g.ojito_der {
                                animation: blink infinite 3s;
                            }

                            g.ojito_izq {
                                animation: blink infinite 3s;
                            }
                        }
                    }
                }
            }
        }

        &.mobile-nav {
            padding: 10px;
            justify-content: space-between;
            align-items: center;

            .top-logo-mobile {
                width: 40px;
            }

            .burger {
                display: flex;
                justify-content: space-around;
                align-content: space-around;
                align-items: center;
                flex-direction: column;
                z-index: 14;
                width: 40px;
                height: 30px;
                padding: 4px;
                border: 1px solid var(--bt-gray);
                border-radius: 3px;
                cursor: pointer;

                &.menu-activated {
                    justify-content: unset;
                    padding-top: 14px;
                    

                    .line {
                        transform: rotate(-45deg);

                        &:nth-of-type(2) {
                            transform: rotate(45deg);
                        }

                        &:last-of-type {
                            opacity: 0;
                        }
                    }
                }

                .line {
                    display: block;
                    width: 20px;
                    height: 1px;
                    background-color: var(--bt-gray);
                }
            }
        }
    }

    .show-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(254, 255, 250, 0.8);
        backdrop-filter: blur(6px);
        z-index: 10;
        transition: all 0.4s ease-in-out;
        top: 0;
        left: 0;

        .top-logo-mobile {
            width: 100px;
        }

        ul {
            position: absolute;
            left: 50%;
            top: 50%;
            list-style: none;
            padding: 0;
            transform: translateX(-50%) translateY(-50%);

            li {
                padding: 10px 0;

                a {
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 12px;
                }
            }
        }
    }
</style>
<script>
    (() => {
        `use strict`

        const mobileMenu = document.querySelector(".show-menu") as HTMLElement;
        const mobileBtn = document.querySelector(".burger") as HTMLElement;

        mobileBtn.addEventListener('click', () => {
            mobileBtn.classList.toggle('menu-activated');
            if ( mobileBtn.classList.contains("menu-activated") ){
                mobileMenu.classList.add("d-flex");
                mobileMenu.classList.remove("d-none");
            } else {
                mobileMenu.classList.remove("d-flex");
                mobileMenu.classList.add("d-none");
            }
        });
    })();
</script>